* {
 box-sizing: border-box;
}
#content  {
    width: 100%;
}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar.active {
    margin-left: -250px;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background-color: lightblue;
}
.main-containter {
    margin: 5%;
}
.sidebar-header {
    background-color: darkblue !important;
    color: white;
    height: 60px;
}
.menu-container {
    margin: 5% 0;
}
